#clear{
    background-color: #FF3B30;
}
#clear:hover{
    background-color: #f67674;
}
#operator{
    background-color: #FF9500;
}
#operator:hover{
    background-color: #f1b158;
}
#equal{
background-color:#34C759;
}
#equal:hover{
background-color:#5cf482;
}
#calculator{
    border: 1px solid rgb(12, 7, 7);
    border-radius: 15px;
    width: 300px;
    height: 530px;
    background-color: #1E1E1E;
}
#display{
    border-color: rgb(251, 246, 246);
    border-radius: 9px;
    margin: 30px;
    font-size: 20px;
    height: 65px;
    background-color: #2C2C2C;
    width: 78%;
    color: #FFFFFF;
    text-align: center;
    
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.button{
width: 70px;
height: 55px;
margin: 4px;
border-radius: 9px;
border-color: azure;
background-color:#4A4A4A ;
color: #FFFFFF;
}
.button:hover{
    background-color: #5A5A5A;
    width: 70.5px;

}
#body{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}